// /*   Login    */
// .bg-background {
//   background-image: url(../images/bg-fundo.jpg);
//   background-repeat: no-repeat;
//   background-position: center 100px;
//   background-size: cover;
//   height: 100vh;
// }

.bg-title {
  height: 100vh;
  background: -moz-linear-gradient(
    top,
    rgba(41, 46, 137, 0.95) 50%,
    rgba(29, 32, 97, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(41, 46, 137, 0.95) 50%,
    rgba(29, 32, 97, 0.7) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(41, 46, 137, 0.95) 50%,
    rgba(85, 87, 129, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc292e89', endColorstr='#1d2061',GradientType=0 );
}
.bg-title2 {
  padding: 12em 1em 2em 1em;
  h1 {
    a {
      font-family: "poppins-bold", Arial;
      color: #fff;
      font-size: 50px;
    }
  }
  .box-desc {
    margin-top: 15%;
    div {
      > div {
        color: #fff;
        padding: 10px;
        border: 1px solid #fff;
        opacity: 0.7;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: 0 0 5px 5px;
      }
    }
  }
  p {
    color: #fff;
    font-size: 32px;
    margin-top: 60px;
    line-height: 30px;
    font-family: "poppins-light", Arial;
  }
}
.efeito {
  background-color: #ffffff;
  height: 100vh;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ellipse {
  -webkit-clip-path: ellipse(50% 65% at 70% 50%);
  clip-path: ellipse(50% 65% at 70% 50%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.bg-form {
  background-color: #ffffff;
  height: 100vh;
  padding: 12em 7% 2em 0;
  input.form-control {
    background-color: #2e3386;
    color: #fff;
    font-size: 28px;
    padding: 0.6em 0.5em 0.6em 1em;
    margin-bottom: 20px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
  }
  input {
    &:focus {
      background-color: #001c39 !important;
      color: #eee !important;
    }
    &:active {
      background-color: #001c39 !important;
      color: #eee !important;
    }
  }
  input.btn {
    background: #ff0000;
    background: -webkit-linear-gradient(to right, #ff0000 0%, #ff007f 68%);
    background: -moz-linear-gradient(to right, #ff0000 0%, #ff007f 68%);
    background: linear-gradient(to right, #ff0000 0%, #ff007f 68%);
    color: #fff;
    font-family: "poppins-light";
    width: 100%;
    font-size: 28px;
    padding: 0.6em 0.5em;
    margin-bottom: 20px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.7);
    -moz-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.7);
    box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.7);
    &:hover {
      background: #ff007f;
      background: -webkit-linear-gradient(to right, #ff007f 0%, #ff0000 68%);
      background: -moz-linear-gradient(to right, #ff007f 0%, #ff0000 68%);
      background: linear-gradient(to right, #ff007f 0%, #ff0000 68%);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    &:focus {
      background: #ff007f;
      background: -webkit-radial-gradient(
        ellipse farthest-side at center center,
        #ff007f 0%,
        #990000 100%
      );
      background: -moz-radial-gradient(
        ellipse farthest-side at center center,
        #ff007f 0%,
        #990000 100%
      );
      background: radial-gradient(
        ellipse farthest-side at center center,
        #ff007f 0%,
        #990000 100%
      );
      margin-top: 4px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}
.options-list {
  margin-top: 30px;
  margin-bottom: 30px;
  i {
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    padding: 5px 8px;
  }
  span {
    font-family: "poppins-light";
  }
}
.card-list {
  .item-list {
    font-size: 16px;
    letter-spacing: -1px;
  }
}
.ico-senha {
  background-color: #712cbf;
}
.ico-novo {
  background-color: #5dbf2c;
}
@media screen and (max-width: 767px) and (min-width: 120px) {
  body {
    background-color: #fff;
  }
  .bg-background {
    background-position: -140px -100px;
    height: 50vh;
  }
  .box-desc {
    display: none;
  }
  .ellipse {
    -webkit-clip-path: ellipse(90% 35% at 50% 55%);
    clip-path: ellipse(90% 35% at 50% 55%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 450px;
    margin-top: -50px;
  }
  .bg-form {
    padding: 0em 15% 0 15%;
    margin-top: -45px;
    height: auto;
    input.form-control {
      font-size: 22px;
    }
    input.btn {
      font-size: 22px;
    }
  }
  .bg-title {
    height: 300px;
    text-align: center;
  }
  .bg-title2 {
    padding: 80px 1em 0 1em;
    h1 {
      a {
        font-size: 30px;
      }
    }
    p {
      font-size: 18px;
      margin-top: 10px;
      line-height: 20px;
    }
  }
  .card-list {
    padding: 10px 10px 0 10px;
  }
  .options-list {
    margin-top: 10px;
  }
}
